*{
    font-family: "Cinzel", serif;
}

.linklogo img{
    margin-top: 10%;
width: 400px;
height: auto;
align-items: center;
}
body {
    background-image: url('../Imagens\ para\ site/Background-index.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    overflow: hidden;
     height: 773px;
}
nav {
    display:flex;
     justify-content: center;
}

.conteiner {
    margin-top: 8%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding:  60px;
    padding-top: 10px;
    padding-bottom: 230px;
    width: 250px;
    height: 270px;
    border-radius: 36px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
#divlogin.conteiner {
    margin-top: 12%;
    height: 150px;
}
.conteiner h2 {
    display: flex;
   justify-content: center;
}
.conteiner input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 0.5px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.conteiner button {
    color: black;
    font-size:x-large;
background-color: #c1c1c1;
padding: 10px;
border-radius: 36px;
 border-style: solid;
 justify-content: center;
  box-shadow: 0 4px #999;
}

.conteiner button:hover {
    color: white;
background-color: #c1c1c1;
border:1.5px;
border-color: white;
padding: 10px;
border-radius: 36px;
 align-items: right;
 border-style: solid;
}
.conteiner button:active {
  background-color: #126cb6;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.conteiner select {
color: rgba(255, 255, 255, 0.664);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2px;
    border-radius: 5px;
}
a {
    color: #ffff;
    text-decoration: none;
}
a:visited {
color: white;
}
a:hover {
  text-decoration: underline;
}
.conteudo-geral {
  
  display: flex;
  justify-content: center; 
  align-items: center;    
          
  margin: 0;  
}
.conteiner a{
display: flex;
justify-content: center;
}
.botoes {
display: flex;
width: 70%;
margin-left: auto;
margin-right: auto;
justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10;
    
}