body {
    background-image: url('../Imagens\ para\ site/Backgroundeditado.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-color: black;
    height: 446px;

}
nav{
display: flex;
justify-content: center;
}
nav img {
    
width:250px;
    justify-content: center;
}
.entrar {
font-size: xx-large;
    padding-top:  5px;
    padding-left: 60px;
    padding-right: 60px;
    
}
.criar {
 font-size: xx-large;
    padding-top:  5px;
    padding-left: 60px;
    padding-right: 60px;
}
.container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-content: center;
}
body a{

color: #fff;
text-decoration: none;
}
body a:hover{

color: #ebaf2e;
text-decoration: underline;
}
