*{
    font-family: "Cinzel", serif;
}
body {
    background-image: url('../Imagens\ para\ site/Backgroundeditado.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    height: 773px;

}
nav{
display: flex;
justify-content: center;
}
nav img {
    
width:350px;
    justify-content: center;
}
.entrar {
font-size: xx-large;
    padding-top:  10%;
    padding-left: 60px;
    padding-right: 60px;
    
}
.criar {
 font-size: xx-large;
    padding-top:  5px;
    padding-left: 60px;
    padding-right: 60px;
}
.container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-content: center;
}
body a{

color: #fff;
text-decoration: none;
}
body a:hover{

color: #ebaf2e;
text-decoration: underline;
}
.options-menu {
    display: flex;
    flex-direction: column ;
    justify-content: Justify;
    align-items: center;
    font-size: xx-large;
     line-height: 0.7;
}
.options-menu #sair{
color: #f8d17d;
text-decoration: underline;
}
.options-menu #sair:hover{
    color: #b87f06;
}
