body {
    background-image: url('../Imagens\ para\ site/Backgroundeditado.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    
}
nav img {
    background-color: aqua;
width:250px;
    justify-content: center;
}
.entrar {
font-size: xx-large;
    padding-top:  5px;
    padding-left: 60px;
    padding-right: 60px;
    
}
.criar {
 font-size: xx-large;
    padding-top:  5px;
    padding-left: 60px;
    padding-right: 60px;
}
.container {
    width: 400px;
    padding: 50px;
    flex: auto;
}
body a{

color: #fff;
text-decoration: none;
}
body a:hover{

color: #ebaf2e;
text-decoration: underline;
}
