 * {
    color: #fff;
    margin: 0%;
 }
 * img {
    justify-self: center;
 }
 .container {
    margin: 8%;
margin-top: 10%;
 }
 .container img {
    display: flex;
    justify-content: center;
 }
 body{
    background-color: #212427;
 }
 header{
       background-color: black;
display: flex;
justify-content: center;
width: 100%;
position: fixed;
z-index: 10;
top: 0%;
left: 0%;
}
header img {
width:400px;
    justify-content: center;
}
.Personagens img {
    width: 140px;
   
}
.Personagens {
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    justify-content: space-between;
}
.estrutura img {
    justify-content: center;
}
.introducao p {
    justify-content: justify;
} 
.card3 { 
    border-radius: 8px;
   padding: 10px;
    background-color: #a64d0d;
      position: relative;
  width: 50%;
}
.card3:hover .overlay {
     width: 100%;

}
.card4 { 
    border-radius: 8px;
   padding: 10px;
    background-color:#8b1615;
      position: relative;
  width: 50%;
}
.card4:hover .overlay {
     width: 100%;

}
.card5 { 
    border-radius: 8px;
   padding: 10px;
    background-color: #336ba5;
      position: relative;
  width: 50%;
}
.card5:hover .overlay {
     width: 100%;

}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #a64d0d;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  border-radius: 14px;
}
#kratos3 img  {
    height: 80%;
    margin-top:30%;
    display: block;
 
}
#hercules img {
    margin-top: 50%;
}
#pandora img {
    margin-top: 50%;
}
.outros img {
    width: 300px;
    height: auto;
}