 @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Dives+Akuru&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
 .descricao {
    font-size: 2vh;
    font-family: "Poppins", sans-serif;
}
.titulo {
    font-size: 4vh;
      font-family: "Noto Serif Dives Akuru", serif;
}
 * {
    color: #fff;
    margin: 0%;
}
* img {
    justify-self: center;
}
body{
    background-color: #212427;
}
header{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    min-height: 120px;
}
.conteudo-header {
    font-family: "Cinzel", serif;
    display: flex;      
    flex-direction: column; 
    align-items: center;     
    text-align: center;     
    
}
.conteudo-header img{
    width: 150px; 
    max-width: 100%; 
    height: auto; 
    display: block; 
}
.conteudo-header p {
    margin-top: 10px; 
    color: white;     
    font-size: 1.2em; 
    font-weight: bold; 
}
.titulo {
    margin-top: 2%;
}
.conteudo {
    margin: 8%;
    margin-top: 10%;
}
.conteudo img {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    width: 50vh;
}
.container {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    
}
.container img {
    margin-top: 0;
    width: 20vh;
}
.card {
    background-color: #a64d0d;
    border-radius: 15px;
    padding-inline: 2vh;
    align-items: center;
}
.container { 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.card {
    position: relative;
    width: 200px; 
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #a64d0d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.card:hover .overlay { 
    opacity: 1;
}
.text {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: start;
    margin: 10px;
    font-family: "Montserrat", sans-serif;
}
.titulocard {
    color: #f5bf29;
     font-size: 30px;
}

footer {
    border-radius: 5px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.527);
    height: 10%;
    margin-left: 0;
    margin-right: 0;
}
#linhafooter {
    margin-top: 0;
}
hr {
height: 1px;
background-color: #fff;
width: 95%;
border-radius: 15px;
margin-top: 4%;
margin-left: auto; 
margin-bottom: 1%;
    margin-right: auto;
  }
#efeitonome {
      color: #e0e0e0; 
    text-decoration: none; 
    position: relative; 
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease; 
    cursor: pointer; 
    display: inline-block; 
}
#efeitonome:hover {
      color: #ffcc00; 
    transform: scale(1.05); 
    text-shadow: 0 0 8px rgba(255, 204, 0, 0.6);
}
.sessaogow4 .card {
    background-color:  #8b1615;
}
.sessaogow3 .card {
    background-color: #a64d0d;
}
.sessaogow5 .card {
    background-color: #336ba5;
}
.sessaogow4 .overlay {
    background-color: #8b1615;
}
.sessaogow5 .overlay {
    background-color: #336ba5;
}
.sessaogow4 .titulocard {
    color: #FFD700;
     font-size: 30px;
}
.sessaogow5 .titulocard {
    color: #FFA500;
}
.outros {
    display: flex;
}
.outros img {
    width: 20%;
}
#LogoGow3:hover {
        transform:  scale(1.05);
    border:  0.5px solid rgba(0, 153, 255, 0.61);
    border-radius: 15px;
    box-shadow:
    0 0 5px #fff,           
    0 0 10px #FFD700,      
    0 0 13px #FF8C00; 
}
#LogoGow4:hover {
        transform:  scale(1.05);
    border:  0.5px solid rgba(0, 153, 255, 0.61);
    border-radius: 15px;
     box-shadow:
    0 0 5px #fff,          
    0 0 10px #DC143C,   
    0 0 13px #B22222;  
}
#LogoGow5:hover {
        transform:  scale(1.05);
    border:  0.5px solid rgba(0, 153, 255, 0.61);
    border-radius: 50px;
    box-shadow:
    0 0 5px #fff,           
    0 0 10px #4169E1,       
    0 0 13px #00BFFF;
}
#linkinicio:hover {
 color:#ffcc00;
}