*{
    font-family: "Cinzel", serif;
}
body {
    background-image: url('../Imagens\ para\ site/Background-index.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    height: 773px;

}
nav{
display: flex;
justify-content: center;
}
nav img {
    
width:400px;
    justify-content: center;
}
.entrar {
  color: white;
  font-size: 35px;
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(228, 132, 23, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 2px 40px;
  width: fit-content;
  backdrop-filter: blur(2px); 
  margin-top: 10%;
}
.criar {
  color: white;
  font-size: 35px;
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(228, 132, 23, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 2px 40px;
  width: fit-content;
  backdrop-filter: blur(2px); 
}
.container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-content: center;
}
body a{

color: #fff;
text-decoration: none;
}
body a:hover{

color: #ebaf2e;
text-decoration: underline;
}
.options-menu {
    display: flex;
    flex-direction: column ;
    justify-content: Justify;
    align-items: center;
    font-size: xx-large;
     line-height: 0.7;
}
.options-menu #sair{
color: #f8d17d;
text-decoration: underline;
}
.options-menu #sair:hover{
    color: #b87f06;
}
.todasascoisasjuntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
