body {
    background-image: url('../Imagens\ para\ site/Backgroundquiz.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
}
:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}
nav img {
    width:400px;
    justify-content: center;
}
nav{
    display: flex;
}
body {
    color: var(--new-white);
    background-color: rgba(0, 0, 0, 0.959);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    height: 773px;
}


.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    margin-top: 10%;
    width: 80%;
    backdrop-filter: blur(10px);
    background-color: #00000025;
    border-radius: 15px;
}

.border-primary {
    margin-top: 25%;
    border: 3px solid var(--new-white);
}

.border-secondary {
    margin-top: 25%;
    padding: 15%;
    border: 0.5px solid rgb(77, 166, 255);
    border-radius: 5px;
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}
#pontuacao {
    display: none;
}
#botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;}
      
  #btnIniciarQuiz  {
    margin-top: 65%;
    margin-left: 25%;
    color: white;
    border-radius: 15px;
    background-color: #2e8bf7c5;
    padding: 15px;
    }
    button {
     margin-top: 2%;
    margin-left: 2%;
    color: white;
    border-radius: 15px;
    background-color: #04346bc5;
    padding: 8px;
    }

    
    